.channel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* CHECK WITH CSS SIMCHA */
  height: 100%;
  box-sizing: border-box;
  font-family: "Lato";
  color: RGB(29, 29, 29);
}

.load-button {
  position: absolute;
  top: 5px;
  right: 5px;
}
