.channel-create {
  background-color: RGB(255, 255, 255);
  display: flex;
  flex-direction: column;
}
.channel-create-contents {
  padding: 50px;
}

.privacyCheckbox input[type="checkbox"] {
  visibility: hidden;
}

.privacyCheckbox {
  width: 55px;
  height: 31px;
  border: 1px solid RGB(165, 165, 165);
  margin: 20px 60px;
  box-sizing: border-box;
  border-radius: 50px;
  position: relative;
}

.privacyCheckbox label {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: all 0.5s ease;
  cursor: pointer;
  position: absolute;
  top: 5px;
  z-index: 1;
  left: 7px;
  background-color: rgb(95, 95, 95);
}

.privacyCheckbox input[type="checkbox"]:checked + label {
  left: 28px;
  background-color: RGB(255, 255, 255);
}

.privateOn {
  background-color: rgb(18, 124, 90);
  border: none;
}
.channel-create-name-input {
  position: relative;
}

#channel-create-name-input-text {
  padding-left: 30px !important;
}

.channel-create-name-input .channel-create-privacy-icon {
  font-size: 15px;
  color: RGB(97, 97, 97);
  left: 12px;
}

.modal-search-box input[type="text"]:focus {
  box-shadow: none !important;
  border: none !important;
}
