.direct-body {
  padding: 0 32px 0px 32px;
  height: 100%;
}
.direct-avatar {
  width: 38px;
  height: 38px;
  border-radius: 3px;
  margin-right: 10px;
}
.direct-avatar-group {
  position: relative;
  top: 0;
  left: 0;
}
.direct-search-image {
  height: 35px;
  width: 50px;
}
.direct-avatar-one {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  border-radius: 3px;
  margin-right: 10px;
}
.direct-avatar-two {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: 2px solid RGB(255, 255, 255);
  margin-right: 10px;
}

.direct-search-text {
  font-weight: bold;
}

.direct-search-count {
  font-size: 13px !important;
  padding-left: 3px;
  color: RGB(145, 145, 145);
}
.direct-search-max {
  font-size: 18px !important;
  font-weight: bold;
  align-self: center;
  margin-top: 25px;
}
