.greeting{
  font-family: 'Lato';
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.greeting-button {
  background-color: RGB(96, 20, 105);
  color: white;
  box-sizing: border-box;
  padding: 10px 45px;
  text-align: center;
  text-decoration: none; 
  border-radius: 5px;
  margin: 20px 100px 0px 0px;
}

.greeting-button:hover{
  background-color: RGB(73, 13, 75);
}

.greeting-nav-button {
  border: 2px solid RGB(128, 128, 128);
  color: RGB(128, 128, 128);
  box-sizing: border-box;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none; 
  border-radius: 5px;
  margin: 20px 100px 0px 0px;
}

.greeting img{
  margin: 20px 0px 0px 100px;
  width: 106px;
  height: 28px;
}

.greeting-nav{
  display:flex;
  flex-direction: row;
}

.greeting-nav Link{
  margin: 5px;
  padding: 5px;
  color: blue;
}

