.message-form {
  border: solid 3px red;
}

.message-submit {
  background-color: orange;
  padding: 5px;
}
.message-item {
  border: 1px solid grey;
  margin: 3px;
  list-style: none;
}
.message-item:hover {
  background-color: aliceblue;
}
.message-edit {
  background-color: chartreuse;
  padding: 3px;
}

.message-avatar {
  width: 38px;
  height: 38px;
}
