.message-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  /* display:flex; */
  align-items: flex-end;
}
.message-list ul {
  width: 100%;
}
.message-list:hover {
  overflow-y: scroll;
}
.message-form {
  width: 100%;
  /* CHECK WITH CSS SIMCHA */
  max-height: 60vh;
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
}
.message-form input[type="text"] {
  border-radius: 4px;
  border: solid 1px RGB(141, 141, 141);
  font-size: 15px;
  width: 100%;
  min-height: 42px;
  padding: 10px;
  padding-left: 45px;
}

.message-item {
  display: flex;
  list-style: none;
  padding-top: 6px;
  padding-left: 20px;
  padding-bottom: 6px;
  font-size: 15px;
}
.message-item:hover {
  background-color: RGB(248, 248, 248);
}

.message-item-view {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-content: space-between;
}

.message-item-view-content {
  display: flex;
  flex-direction: column;
}

.message-item-name {
  font-weight: bold;
  padding-right: 3px;
}

.message-item-editstate {
  font-size: 13px;
  color: RGB(134, 134, 134);
}
.message-item-time {
  font-size: 12px;
  color: RGB(101, 101, 101);
}

.message-avatar {
  width: 38px;
  height: 38px;
  border-radius: 3px;
  margin-right: 10px;
}
.message-item .message-item-button {
  background-color: RGB(255, 255, 255);
  text-align: center;
  justify-content: center;
  display: none;
  width: 35px;
  height: 25px;
  /* justify-self: end; */
  position: relative;
  right: 20px;
  bottom: 18px;
  box-sizing: border-box;
  align-items: center;
  padding-bottom: 12px;
  border-radius: 5px;
  border: 1px solid RGB(240, 240, 240);
  font-size: 20px;
}
.message-item-button:hover {
  color: RGB(18, 100, 63);
  font-weight: bold;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}
.message-item:hover .message-item-button {
  display: flex;
}

.message-edit {
  display: flex;
  list-style: none;
  padding-top: 6px;
  padding-left: 20px;
  padding-bottom: 6px;
  font-size: 15px;
  background-color: RGB(254, 249, 236);
}
.message-edit-form {
  width: 100%;
}

.message-edit-form input[type="text"] {
  border: 1px solid RGB(24, 98, 163);
  border-radius: 3px;
  background-color: RGB(255, 255, 255);
  padding-top: 8px;
  padding-right: 2px;
  padding-bottom: 8px;
  padding-left: 10px;
  width: 100%;
}

.message-edit-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.message-edit-button {
  background-color: RGB(255, 255, 255);
  border: 0.5px solid RGB(186, 182, 174);
  padding: 0 12px 1px 12px;
  font-size: 13px;
  height: 28px;
  min-width: 56px;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 8px;
  margin-right: 8px;
}

.message-edit-button:hover {
  background-color: RGB(245, 240, 227);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.message-edit-save {
  margin-top: 8px;
  background-color: RGB(18, 124, 90);
  border-radius: 4px;
  color: white;
  font-size: 13px;
  min-width: 132;
  padding-left: 15px;
  padding-right: 12px;
  height: 28px;
  font-weight: bold;
  transition: background-color 0.08s linear;
}

.message-edit-save:hover {
  /* background-color: red; */
  background-color: RGB(31, 135, 103);
}
