.session-wrapper{
  border-top: 1px solid RGB(223, 223, 223);
  padding-top: 30px;
  padding-bottom: 150px;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-color: RGB(248, 248, 248);
  font-family: 'Lato';
  box-sizing: border-box;
}
.session-form-form h2 p span{
  font-weight: bold;
}

.session-errors{
  padding: 5px;
  width: 635px;
  background-color: RGB(255, 255, 255);
  border: 1px solid RGB(221, 221, 221);
  border-left: 5px solid RGB(221, 0, 90);
  border-radius: 3px;
  display: flex;
  align-items:center;
}

.session-errors img{
  width: 4%;
  height: 4%;
  margin-right: 10px;
}
.session-form{
  margin: 0 auto;
  border-radius: 3px;
  width: 635px;
  height: 462px;
  margin-top:  20px;
  display:flex;
  flex-direction: column;
  font-family: 'Lato';
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 1px solid RGB(221, 221, 221);
  border-radius: 3px;
  box-shadow: 0 1px 0 RGB(221, 221, 221);
  background-color: RGB(255, 255, 255);
}
.session-form-form{
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.session-form h1{
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0px 40px 0px;
}

.session-form-form h2{
  align-self: flex-start;
  font-size: 15px;
  margin: 5px;
}
.session-form input[type=text]{
  width: 375px;
  height: 50px;
  border: 1px solid RGB(105, 105, 105);
  border-radius: 3px;
  margin: 5px;
  padding: 15px;
  box-sizing: border-box;
}
.session-form input[type=password]{
  width: 375px;
  height: 50px;
  border: 1px solid RGB(105, 105, 105);
  border-radius: 3px;
  margin: 5px;
  padding: 15px;
  box-sizing: border-box;
}

.session-form-button {
  background-color: RGB(18, 124, 90);
  width: 375px;
  height: 50px;
  color: white;
  padding: 20px 40px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  margin: 5px;
  font-size: 20px;
}

.session-form-button:hover{
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
}