.sidebar {
  max-width: 220px;
  height: calc(100vh - 60px);
  background-color: RGB(63, 14, 64);
  overflow-y: hidden;
  color: RGB(207, 195, 207);
  font-family: "Lato";
  font-size: 15px;
}
.sidebar-channels {
  margin-top: 25px;
  margin-bottom: 25px;
}

.sidebar li {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar .unselected:hover {
  background-color: RGB(53, 13, 54);
}

.selected {
  background-color: RGB(23, 98, 163);
  color: RGB(255, 255, 255);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar-header i {
  font-size: 10px;
  color: RGB(148, 123, 149);
  border: 2px solid RGB(148, 123, 149);
  width: 12px;
  height: 12px;
  padding: 1px;
  border-radius: 50%;
  text-align: center;
}

.sidebar-header h2:hover {
  color: RGB(255, 255, 255);
  transition: color 0.08s linear;
}

.sidebar-header i:hover {
  color: RGB(255, 255, 255);
  border: 2px solid RGB(255, 255, 255);
  transition: color 0.08s linear;
  transition: border 0.08s linear;
}

.sidebar .membership-items i {
  font-size: 10px;
  padding-right: 3px;
}

.sidebar-member-count {
  color: RGB(63, 14, 64);
  background-color: RGB(148, 123, 149);
  font-size: 9px;
  height: 12px;
  width: 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: -1.5px;
  border-radius: 3px;
  margin-right: 3px;
}
.sidebar-member-online {
  color: RGB(63, 14, 64);
  background-color: RGB(43, 172, 118);
  border: 2px solid RGB(43, 172, 118); 
  font-size: 9px;
  height: 6px;
  width: 6px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 3px;
}
.sidebar-member-offline {
  font-size: 9px;
  height: 6px;
  width: 6px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 3px;
  border: 2px solid RGB(148, 123, 149); 
}

.selected .sidebar-member-count {
  color: RGB(23, 98, 163);
  background-color: RGB(172, 199, 222);
}

.selected .sidebar-member-online {
  background-color: RGB(255, 255, 255);
  border: 2px solid RGB(255, 255, 255); 
}
.selected .sidebar-member-offline {
  border: 2px solid RGB(255, 255, 255); 
}